<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="3.0.2" targetFramework="net451" />
  <package id="SharpDX.Direct3D9" version="3.0.2" targetFramework="net451" />
  <package id="Str1ker.OpenTK" version="1.1.2253.0" targetFramework="net451" />
  <package id="Str1ker.OpenTK.GLControl" version="1.1.2253.1" targetFramework="net451" />
</packages>